<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- The maxReceivedMessageSize attribute is added to allow the recieving of large data from the service -->
        <binding name="BasicHttpBinding_IReportService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IReportService" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8001/ReportService/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReportService" contract="ReportServiceReference.IReportService"
        name="BasicHttpBinding_IReportService" />
      <endpoint address="net.tcp://localhost:8002/ReportService/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IReportService" contract="ReportServiceReference.IReportService"
        name="NetTcpBinding_IReportService" />
    </client>
  </system.serviceModel>
</configuration>