<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <!-- To allow the client proxies generation (get WSDL over HTTP) -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To propagate the exception to the client -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <!-- The maxReceivedMessageSize attribute is added to allow the posting of large data to the service -->
        <binding name="httpBindingConfig" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="tcpBindingConfig" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="HostApp.ReportService" behaviorConfiguration="defaultServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/ReportService/" />
            <add baseAddress="net.tcp://localhost:8002/ReportService/" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="HostApp.IReportService" bindingConfiguration="httpBindingConfig" />
        <endpoint binding="netTcpBinding" contract="HostApp.IReportService" bindingConfiguration="tcpBindingConfig" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>